:root {
    --font-family-main:  "Times New Roman" , Serif;


    --font-size-M: 1rem;
    --font-line-M: 1.5rem;
    --font-M: var(--font-size-M) / var(--font-line-M) / var(--font-family-main);

    --font-size-L: 2rem;
    --font-line-L: 2.5rem;
    --font-L: var(--font-size-L) / var(--font-line-L) / var(--font-family-main);

    --font-size-XL: 3rem;
    --font-line-XL: 3.5rem;
    --font-XL: var(--font-size-XL) / var(--font-line-XL) / var(--font-family-main);
}


$yellow-color: rgb(175, 245, 0);
$orange-color: rgb(255, 140, 0);
$white-color: rgb(255, 255, 255);
$black-color: rgb(0, 0, 0);







