@import '../../../../../shared/styles/global';

.button {
  font-family: 'Inter';
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.2rem;
  background-color: $grey-color;
  color: $white-color;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.4s ease;

  &:hover {
    background-color: $black-color;
  }
}
