@import '../../shared/styles/global';
.header {
    height: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem; // Отступ снизу для разделения с Main
  }
  
.content {
    z-index: 1; /* Поверх фонового изображения */
}

.a {
    display: flex; /* Flexbox для удобного позиционирования содержимого */
    align-items: baseline; /* Вертикальное выравнивание */
    justify-content: center; /* Горизонтальное выравнивание */
    font-size: 16px;
    color: #fff;
    cursor: pointer;

    &:hover {
        background-color: #462c2c;
    }
}