@import '../../app/styles/global';

.header {
    height: 100px;
    background-color: $perpl-color;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 1rem 1rem; 
    margin-bottom: 10rem;
}
  .nav {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    gap: 1rem; 
  }

  .brands {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
    gap: 1rem; 
  }

  .user {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    gap: 1rem; 
  }
  
