@import '../../app/styles/global';

.header {
    height: 100px;
    background-color: $black-color;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Равномерное распределение элементов */
    padding: 0 20px; /* Отступы слева и справа */
    margin-bottom: 10rem;
}

  .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
  
  .home {
    flex: 1; /* Логотип занимает левую часть */
  }
  
  .links {
    flex: 2; /* Ссылки занимают центральную часть */
    display: flex;
    justify-content: center; /* Центрирование ссылок */
    gap: 20px; /* Расстояние между ссылками */
  }
  
  .icons {
    flex: 1; /* Иконки занимают правую часть */
    display: flex;
    justify-content: flex-end; /* Прижимаем иконки к правому краю */
    gap: 1rem; /* Расстояние между иконками */
  }
  
