.cartIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .icon {
    font-size: 24px; 
    color: #ffffff; 
    &:hover {
        color: rgb(221, 255, 0);
    }
}
  
  .count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .link {
    text-decoration: none; 
}
  