.profileIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    font-size: 24px; /* Размер иконки */
    color: #ffffff; /* Цвет иконки */
  }
  
  .link {
    text-decoration: none; /* Убираем подчеркивание */
  }
  