@import '../../../../../app/styles/global';

.icon {
  font-size: 2rem;
  color: $white-color;
  &:hover {
    color: $yellow-color;
  }
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
