@import '../../../../../app/styles/global';
.cartIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .icon {
    font-size: 2rem; 
    color: $white-color; 
    &:hover {
        color: $yellow-color;
    }
}
  
  .count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .link {
    text-decoration: none; 
}
  